//主色
$primary-default: #00a199;
$primary-light: #14c3bb;

//按鈕組件
$disable: #75b1ae;
$focus: #e9fefd;

//輔助色
$secondary-dark: #f4ca80;
$secondary-default: #ffdc9e;
$secondary-light: #ffe9c3;
$secondary-bg: #fcf9e9;

//基本色
$white: #ffff;
$gray-1: #8c8a8a;
$black: #515151;
