.footer {
  background-color: $primary-default;
  padding-top: 60px;
  padding-bottom: 60px;

  @include pad-768() {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .container {
    width: min(1200px, 90%);
    margin: 0 auto;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include pad-768() {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  &__col {
    padding: 0px 40px;
    height: auto;

    @include pad-1024() {
      &:nth-child(1) {
        width: 32%;
      }
    }

    @include pad-768() {
      width: 100%;

      &:nth-child(1) {
        width: 100%;
      }
      padding: 0px 0px 20px;
    }

    &-title {
      display: block;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      letter-spacing: 1px;
      font-family: "Noto Sans TC", sans-serif;
      color: $secondary-default;
      margin-bottom: 10px;
    }
    &-item {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 1px;
      text-align: left;
      font-family: "Noto Sans TC", sans-serif;
      color: $white;
      margin-bottom: 10px;
    }
    &-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 0 20px;

      a {
        margin-right: 10px;
      }
    }
  }
}
