.header {
  position: fixed;
  width: 100%;
  top: 4%;
  z-index: 100;
  margin: 0 auto;

  &__title {
    width: 1px;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }
  &__nav {
    position: relative;
    width: min(1000px, 90%);
    height: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: $white;
    border-radius: 50px;
    border: 2px solid $secondary-light;
    box-shadow: 6px 8px 0 0 $secondary-default;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      background-image: url("/assets/images/nav-bg-vc1.png");
      bottom: 96%;
      left: 3%;
      width: 60px;
      height: 24px;
      background-size: 100% auto;
      background-position: top center;
      background-repeat: no-repeat;
    }

    @include pad-768() {
      border: 4px solid $secondary-light;
      box-shadow: 0 0 0 0 $secondary-default;

      &::before {
        left: 6%;
      }
    }
  }
  &__logo {
    font-family: "Gaegu", sans-serif;
    font-size: calc(16px + 1.2vw);
    color: $primary-default;
    display: block;
  }
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;

    @include pad-768() {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100vw;
      height: 100vh;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    @include pad-768() {
      flex-direction: column;
    }
  }
  &__item {
    a {
      padding: 10px;
      display: block;
      font-size: 16px;
      color: $primary-default;
      font-family: "Noto Sans TC", sans-serif;
      font-weight: 600;
      white-space: nowrap;
    }
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

    a {
      display: inline-block;
      margin: 0 3%;
    }
  }
  &__hamburger {
    display: none;
    cursor: pointer;
    background-color: $white;
    // padding: 8px 4px;
    // width: 40px;
    // height: 40px;

    .line {
      // width: 30px;
      width: 30px;
      height: 2px;
      display: block;
      border-radius: 50px;
      background-color: $primary-default;
      margin: 6px auto;
      transition: all 0.3s ease-in-out;
    }
    &.openClose {
      .line {
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(1) {
          transform: translateY(5px) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translateY(-5px) rotate(-45deg);
        }
      }
    }

    @include pad-768() {
      display: block;
    }
  }
}
