.header {
  position: fixed;
  // width: 100%;
  width: min(1000px, 90%);
  height: auto;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  margin: 0 auto;

  // @include pad-768() {
  //   height: 80%;
  // }

  &__title {
    width: 1px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    color: transparent;
  }
  &__ear {
    position: absolute;
    width: 70px;
    height: auto;
    left: 26px;
    top: -24px;
    z-index: 5;
  }
  &__nav {
    box-sizing: border-box;
    position: relative;
    padding: 10px 24px;
    margin: 0 auto;
    background-color: $white;
    border-radius: 30px;
    border: 2px solid $secondary-light;
    box-shadow: 6px 8px 0 0 $secondary-default;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include pad-768() {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      border: 2px solid $secondary-light;
      box-shadow: 0 0 0 0 $secondary-default;
      overflow: hidden;
      height: 56px;
      transition: all 0.3s ease-in-out;

      &.openClose {
        height: calc(100% - 80px);
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &__logo {
    font-family: "Gaegu", sans-serif;
    font-size: calc(16px + 1.2vw);
    color: $primary-default;
    display: block;

    @include pad-768() {
      font-size: 30px;
    }
  }
  &__group {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include pad-768() {
      flex-direction: column;
      // position: absolute;
      width: 100%;
      height: 90%;
      max-height: 90%;
      top: 0;
      padding: 20px 0;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      &.listShow {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    @include pad-768() {
      width: 100%;
      flex-direction: column;
    }
  }
  &__item {
    width: 100%;

    a {
      padding: 10px;
      display: block;
      font-size: 16px;
      color: $primary-default;
      font-family: "Noto Sans TC", sans-serif;
      font-weight: 600;
      white-space: nowrap;
      text-align: center;

      @include pad-768() {
        padding: 20px;
      }
    }
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

    a {
      display: inline-block;
      margin: 0 3%;
    }

    @include pad-768() {
      width: 50%;
    }
  }
  &__hamburger {
    display: none;
    cursor: pointer;
    background-color: $white;
    position: relative;
    // width: 30px;
    // height: 30px;

    input {
      display: none;
    }

    label {
      display: block;
      cursor: pointer;
      width: 30px;
      height: 30px;
      max-width: 30px;
      max-height: 30px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    path {
      fill: none;
      stroke: $primary-default;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      --length: 24;
      --offset: -38;
      stroke-dasharray: var(--length) var(--total-length);
      stroke-dashoffset: var(--offset);
      transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    circle {
      fill: #fff3;
      opacity: 0;
    }

    .cross input:checked + svg .line--1,
    .cross input:checked + svg .line--3 {
      --length: 22.627416998;
    }

    .cross input:checked + svg .line--2 {
      --length: 0;
    }

    .back input:checked + svg .line--1,
    .back input:checked + svg .line--3 {
      --length: 8.602325267;
    }

    .menu--1 .line--1,
    .menu--1 .line--3 {
      --total-length: 126.64183044433594;
    }

    .menu--1 .line--2 {
      --total-length: 70;
    }

    .menu--1 input:checked + svg .line--1,
    .menu--1 input:checked + svg .line--3 {
      --offset: -94.1149185097;
    }

    .menu--1 input:checked + svg .line--2 {
      --offset: -50;
    }

    @include pad-768() {
      display: block;
    }
  }
}
